@model IEnumerable<WorksSpacesG9.Salas_reunion>

@{
    ViewBag.Title = "GestionSalas";
}

<h2 class="my-4 justify-content-center">Gestionar Salas</h2>

<p>
    @Html.ActionLink("Agregar Sala", "Agregar", new { }, new { @class = "btn btn-outline-primary" })
</p>

<table class="table table-striped table-hover table-borderless">
    <tr style="background-color:lightslategray">
        <th class="text-white">
            Nombre
        </th>
        <th class="text-white">
            Capacidad
        </th>
        <th class="text-white">
            Ubicación
        </th>
        <th class="text-white">
            Equipamiento
        </th>
        <th class="text-white">
            Hora Apertura
        </th>
        <th class="text-white">
            Hora Cierre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ubicacion)
            </td>
            <td>
                @{
                    var equipamientos = string.Join(", ", item.Equipamientos.Select(e => e.nombre_equipamiento));
                }
                @equipamientos
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_fin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", "Salas", new { id = item.id_sala }, new { @class = "btn btn-outline-warning" })
                @Html.ActionLink("Eliminar", "Eliminar", "Salas", new { id = item.id_sala }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }
</table>
<div class="my-2">
    @Html.ActionLink("Regresar", "Index", "Home", new { }, new { @class = "btn btn-outline-warning" })
</div>
