@model IEnumerable<WorksSpacesG9.Salas_reunion>

@{
    ViewBag.Title = "SalasDisponibles";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<h2 class="my-4">Salas Disponibles para hoy</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="card mb-3" style="background-color: lightslategray">
                <div class="card-header text-center">
                    <h4 class="" style="color:aliceblue">Salas Disponibles</h4>
                    <h5 class="card-title" style="color:aliceblue">@ViewBag.CantidadSalasDisponibles</h5>
                    <i class="bi bi-door-open" style="color:white; font-size:2rem;"></i>
                </div>
            </div>
        </div>
    </div>
</div>


@if (!Model.Any())
{


    <div class="container col-6 mt-5 mb-5">
        <div class="justify-content-center">
            <h2>No hay salas disponibles para hoy</h2>
        </div>
    </div>
}
else
{
    <table class="table table-striped table-hover table-borderless">
        <tr style="background-color:lightslategray">
            <th class="text-white">
                Nombre
            </th>
            <th class="text-white">
                Capacidad
            </th>
            <th class="text-white">
                Ubicación
            </th>
            <th class="text-white">
                Equipamiento
            </th>
            <th class="text-white">
                Hora Apertura
            </th>
            <th class="text-white">
                Hora Cierre
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.capacidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ubicacion)
                </td>
                <td>
                    @{
                        var equipamientos = string.Join(", ", item.Equipamientos.Select(e => e.nombre_equipamiento));
                    }
                    @equipamientos
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hora_inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hora_fin)
                </td>
                <td>
                    @if (Session["IsAuthenticated"] != null && (bool)Session["IsAuthenticated"])
                    {

                        @Html.ActionLink("Reservar", "ReservasUsuario", "Reservas", new { idSala = item.id_sala }, new { @class = "btn btn-outline-success" })
                    }
                    else
                    {
                        @Html.ActionLink("Reservar", "Login", "Login", new { }, new { @class = "btn btn-outline-success" })
                    }
                    

                </td>
            </tr>
        }

    </table>

}
<div class="my-2">
    @Html.ActionLink("Regresar", "Index", "Home", new { }, new { @class = "btn btn-outline-warning" })
</div>
